//

#buttons
  .col-sm-6
    padding: 50px
  .colored
    background: transparentize(black, .4)
    height: 300px
  button
    margin: 10px

[class^="btn-"]
  position: relative
  padding: 5px 10px
  background: transparent
  transition: .5s
  overflow: hidden
  z-index: 101
  min-width: 90px
  &:hover
    transition: .5s


=makeButton($name, $clr1, $clr2)
  #{$name}
    border: 1px solid $clr1
    color: $clr1

    &:hover
      color: $clr2
      background: $clr1


+makeButton(".btn-default", black, white)
+makeButton(".btn-white", white, black)
+makeButton(".btn-primary", #007BA7, white)
+makeButton(".btn-success", #5cb85c, white)
+makeButton(".btn-info", #5bc0de, white)
+makeButton(".btn-warning", #f0ad4e, white)
+makeButton(".btn-danger", #d9534f, white)
