//form, form-inline > form-group, form-group-inline > label, input, input-group, inline-inputs
//

.form, .form-inline
  margin: 0 auto
  display: flex
  align-items: stretch
  justify-content: center
  flex-direction: column
  label
    font-weight: bold
  input, select
    padding: 0 10px
    height: 34px
    border: 1px solid transparentize(black, .8)
  button
    margin: 5px 10px
    flex-grow: 1


  .form-group, .form-group-inline
    display: flex
    flex-grow: 1
    align-items: stretch
    flex-direction: column
    margin: 5px 10px
  .input-group, .input-group-col, .select-group
    display: flex
    .addon-info + input
      border-left-color: transparent
    input, select
      flex-grow: 1
  .input-group-col
    flex-direction: column
  .inline-inputs
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
  .form-group-inline
    flex-direction: row
    justify-content: space-between
    align-items: center
    label
      margin-right: 5px
  .error
    border: 1px solid red
  .error-message
    flex-basis: 100%
    flex-grow: 1
    color: red
    background: transparentize(red, .92)
    border-left: 3px red solid
    margin: 5px 0 10px 0
    padding: 5px 10px
  .checkbox, .radio, .radio-inline, .checkbox-inline
    margin: 10px
    flex-grow: 1
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    input
      display: none

    label
      font-weight: 400
      display: inline-block
      cursor: pointer
      position: relative
      padding-left: 25px
      margin-left: 10px
    label:before
      content: ""
      width: 16px
      height: 16px

      margin-right: 10px
      position: absolute
      left: 0
      top: 4px
      background-color: white
      border: 1px solid transparentize(black, .8)
    input[type=radio]:checked + label:before
      content: "\2022"
      font-weight: 700
      color: black
      text-align: center
      line-height: 18px
      font-size: 36px
    input[type=checkbox]:checked + label:before
      content: "\2713"
      font-weight: 700
      color: black
      text-align: center
      line-height: 15px
  .radio, .radio-inline
    label:before
      border-radius: 100%
  .radio, .checkbox
    flex-direction: column


.form-inline
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  button
    align-self: flex-end
@media screen and (min-width: 768px)
  .form-small
    max-width: 466px
  .form-medium
    max-width: 678px
  .form-large
    max-width: 860px

form
  margin-bottom: 100px !important
