//main: Karrot2.scss
@import "variables.scss";
@import "functions.scss";
//BASE
.container, .container-fluid {
  position: relative;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;

}

.container {
  max-width: 1200px;
}

//ROW
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}
//ROW -- FLEX FUNCTIONS
.row.reverse {flex-direction: row-reverse;}
.row.no-wrap {flex-wrap: nowrap;}
.row.vertical-center {align-items: center;}
.row.vertical-bottom {align-items: flex-end;}
.row.vertical-top {align-items: flex-start;}
.row.left {justify-content: flex-start;}
.row.right {justify-content: flex-end;}
.row.space, .row.space-ar {justify-content: space-around;}
.row.space-btw {justify-content: space-between;}

////Columns Definitions
[class^="col-"] {
  padding: 10px 0;
  order: 6;
  box-sizing: border-box;
}
[class^="col-"] {
  flex-basis: 100%;
}
@include makeGrid(0, "xs", 95%);
@include makeGrid($from-sm, "sm", 95%);
@include makeGrid($from-md, "md", 85%);
@include makeGrid($from-lg, "lg", 80%);
//Columns -- FLEX FUNCTION
[class^="col-"].vertical-center {align-self: center;}
[class^="col-"].vertical-bottom {align-self: flex-end;}
[class^="col-"].vertical-top {align-self: flex-end;}
